{{template "header.html"}}

<h1>Create a New Account</h1>

{{if .errors.general}}
<span class="error">User creation error: {{.errors.general}}</span>
{{end}}

<form class="form-horizontal" action="/accounts/create" method="POST">
	<div class="control-group{{if .errors.username}} error{{end}}">
		<label class="control-label" for="username">Desired Username</label>
		<div class="controls">
			<input type="text" name="username" value="{{.flash.username}}" placeholder="Username"/>
			<span class="help-inline">{{.errors.username}}</span>
		</div>
	</div>
	<div class="control-group{{if .errors.email}} error{{end}}">
		<label class="control-label" for="email">Email</label>
		<div class="controls">
			<input type="text" name="email" value="{{.flash.email}}" placeholder="Email Address"/>
			<span class="help-inline">{{.errors.email}}</span>
		</div>
	</div>
	<div class="control-group{{if .errors.password}} error{{end}}">
		<label class="control-label" for="password">Password</label>
		<div class="controls">
			<input type="password" name="password" value="{{.flash.password}}" placeholder="Password"/>
			<span class="help-inline">{{.errors.password}}</span>
		</div>
	</div>
	<div class="control-group{{ if .errors.password}} error{{end}}">
		<label class="control-label" for="password_confirm">Confirm Password</label>
		<div class="controls">
			<input type="password" name="password_confirm" value="{{.flash.password_confirm}}" placeholder="Password (again)"/>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<button type="submit" class="btn">Join</button>
		</div>
	</div>
</form>

{{template "footer.html"}}
