{{template "header.html"}}

<h1>Login</h1>

<form class="form-horizontal" action="/accounts/login" method="POST">
	<div class="control-group{{if .errors}} error{{end}}">
		<label class="control-label" for="email">Email:</label>
		<div class="controls">
			<input type="text" name="email" value="{{.flash.email}}" placeholder="Email address"/>
			{{if .errors}}
			<span class="help-inline">Invalid email address or password.</span>
			{{end}}
		</div>
	</div>
	<div class="control-group{{if .errors}} error{{end}}">
		<label class="control-label" for="password">Password:</label>
		<div class="controls">
			<input type="password" name="password" value="{{.flash.password}}" placeholder="Password"/>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<!--<input type="submit" class="submit" value="Login"/>-->
			<button type="submit" class="btn">Sign in</button>
		</div>
	</div>
</form>

{{template "footer.html"}}
