{{set . "title" .quilt.Name}}

{{template "header.html" .}}

<div id="quilt-container">
	<canvas id="quilt-canvas" width="800" height="800"></canvas>
</div>


<script src="/public/js/jcanvas.js"></script>
<script src="/public/js/jsquilt2.js"></script>

<script>
	var q = Quilt({{.quilt.Id}}, $("#quilt-canvas"));
</script>

<form class="form-inline">
	<fieldset>
		<legend>Pictures of this Quilt</legend>
	</fieldset>
</form>

<ul id="quilt-images" class="thumbnails">
	{{range .quilt.Images}}
	<li class="span6">
	<div class="thumbnail">
		<img src="{{.Url}}"/>
		<p>{{.Comment}}</p>
	</div>
	</li>
	{{end}}
</ul>

{{template "Quilt/QuiltComments.html" .}}

{{template "footer.html" .}}
