{{set . "title" .quilt.Name}}

{{template "header.html" .}}

<div class="row-fluid">
	<div class="span4">
		<ul class="nav nav-tabs">
			<li id="tab-add" class="active"><a href="#add">Add</a></li>
			<li id="tab-fabric"><a href="#fabric">Set Fabrics</a></li>
			<li id="tab-blocks"><a href="#blocks">Create Blocks</a></li>
			<li id="tab-delete"><a href="#delete">Delete</a></li>
		</ul>

		<div class="tab-content">
			<div class="tab-pane active" id="add">

				<ul class="nav nav-tabs">
					<li id="tab-rectangle" class="active"><a href="#rectangle">Rectangle</a></li>
					<li id="tab-triangle"><a href="#triangle">Triangle</a></li>
					<li id="tab-addblock"><a href="#add-block">Blocks</a></li>
				</ul>

				<div class="tab-content">
					<div class="tab-pane active" id="rectangle">
						<form action="#" class="form-inline">
							<p>
							<label for="width">Width</label>
							<input id="rectangle-width", name="width" type="text" value="8"/>
							</p>
							<p>
							<label for="height">Height</label>
							<input id="rectangle-height", name="height" type="text" value="4"/>
							</p>
						</form>
					</div>
					<div class="tab-pane" id="triangle">
						<form action="#" class="form-inline">
							<p>
							<label for="width">Width</label>
							<input id="triangle-width", name="width" type="text" value="8"/>
							</p>
							<p>
							<label for="height">Height</label>
							<input id="triangle-height", name="height" type="text" value="4"/>
							</p>
							<p>
							<label for="orientation">Orientation</label>
							<select id="triangle-orientation" name="orientation">
								<option value="se" selected>&#x25E2;</option>
								<option value="sw">&#x25E3;</option>
								<option value="nw">&#x25E4;</option>
								<option value="ne">&#x25E5;</option>
								<option value="n">&#x25B2;</option>
								<option value="s">&#x25BC;</option>
								<option value="e">&#x25B6;</option>
								<option value="w">&#x25C0;</option>
							</select>
						</form>
					</div>
					<div class="tab-pane" id="add-block">
						<form action="#" class="form-inline">
							<p>
							{{if .blocks}}
							<label for="blockid">Block</label>
							<select id="add-blockid" name="blockid">
								{{range .blocks}}
								<option value="{{.Id}}">{{.Name}} ({{.Width}} x {{.Height}})</option>
								{{end}}
							</select>
							{{else}}
							You have no blocks. Create some first.
							{{end}}
							</p>
						</form>
					</div>
				</div>
			</div>
			<div class="tab-pane" id="fabric">
				<p>Select a fabric, and click on shapes to set them to that fabric.</p>

				<ul class="thumbnails">
					{{range .color_fabrics}}
					<li class="span1 thumbnail color-fabric" data-fabricid="{{.Id}}" style="background: #{{.Color}}"></li>
					{{end}}
					{{range .image_fabrics}}
					<li class="span2">
					<div class="thumbnail">
						<img class="image-fabric" data-fabricid="{{.Id}}" src="{{.Url}}" alt="{{.Name}}"/>
					</div>
					</li>
					{{end}}
				</ul>
			</div>
			<div class="tab-pane" id="blocks">
				<p>Click on shapes in your quilt to select them, then type in a name
				for your block and create it below.</p>
				<form class="form-inline" action="/quilts/{{.quilt.Id}}/create-block" method="POST" id="block-form">
					<input type="text" name="name" value="Block Name"/>
					<button type="submit" class="btn">Create Block</button>
				</form>
			</div>
			<div class="tab-pane" id="delete">
				<p>Click on shapes in your quilt to delete them.</p>
			</div>
		</div>
	</div>

<div class="span8">
	<div id="quilt-container">
		<canvas id="quilt-canvas" width="800" height="800"></canvas>
	</div>
</div>
</div>


<script src="/public/js/jcanvas.js"></script>
<script src="/public/js/jsquilt2.js"></script>

<script>
	var q = Quilt({{.quilt.Id}}, $("#quilt-canvas"), $("#quilt-container"));
	var w = FormWatcher(q);
	var blockform = $("#block-form");
	blockform.on('submit', function() {
		var dosubmit = false;
		$.each(q.blockSelected, function(key, val) {
			$('<input>').attr({
				type: "hidden",
				name: "polyid",
				value: key,
			}).appendTo(blockform);
			dosubmit = true;
		});
		return dosubmit;
	});
	$('.color-fabric').css('cursor', 'pointer');
	$('.image-fabric').css('cursor', 'pointer');
	$('.color-fabric').on('click', function(e) {
		console.log("click on " + this + "," + $(this).data('fabricid'));
		w.fabric = {
			id: $(this).data('fabricid'),
			color: $(this).css('background-color'),
		};
		w.reattach(w.fabric_handler);
	});
	$('.image-fabric').on('click', function(e) {
		console.log("click on " + $(this).data('fabricid'));
		w.fabric = {
			id: $(this).data('fabricid'),
			img: this,
		};
		w.reattach(w.fabric_handler);
		console.log("set fabric to " + w.fabric);
	});
	w.watch("rectangle", {
		width: $("#rectangle-width"),
		height: $("#rectangle-height"),
	});
	$('#tab-add a').click(function(e) {
		e.preventDefault();
		$(this).tab('show');
		console.log("switch to add");
		w.reattach(w.add_handler);
	});
	$('#tab-fabric a').click(function(e) {
		e.preventDefault();
		$(this).tab('show');
		console.log("switch to fabric");
		w.watch("fabric", {});
	});
	$('#tab-blocks a').click(function(e) {
		e.preventDefault();
		$(this).tab('show');
		console.log("switch to block select");
		q.blockSelectOnClick();
	});
	$('#tab-delete a').click(function(e) {
		e.preventDefault();
		$(this).tab('show');
		console.log("switch to delete");
		q.deleteOnClick();
	});
	$('#tab-rectangle a').click(function(e) {
		e.preventDefault();
		$(this).tab('show');
		w.watch("rectangle", {
			width: $("#rectangle-width"),
			height: $("#rectangle-height"),
		});
	});
	$('#tab-triangle a').click(function(e) {
		e.preventDefault();
		$(this).tab('show');
		w.watch("triangle", {
			width: $("#triangle-width"),
			height: $("#triangle-height"),
			orient: $("#triangle-orientation"),
		});
	});
	$('#tab-addblock a').click(function(e) {
		e.preventDefault();
		$(this).tab('show');
		var elt = $("#add-blockid");
		if (elt.length > 0) {
			w.watch("block", {
				blockid: $("#add-blockid"),
			});
		} else {
			q.disableOverlay();
		}
	});
</script>

{{template "Quilt/QuiltComments.html" .}}

{{template "footer.html" .}}
