<!DOCTYPE html>

<html>
  <head>
    <title>{{.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.css">
    <link rel="shortcut icon" type="image/png" href="/public/images/favicon.png">
    <script src="/public/js/jquery-1.5.2.min.js" type="text/javascript" charset="utf-8"></script>
    {{range .moreStyles}}
      <link rel="stylesheet" type="text/css" href="/public/{{.}}">
    {{end}}
    {{range .moreScripts}}
      <script src="/public/{{.}}" type="text/javascript" charset="utf-8"></script>
    {{end}}
		<style type="text/css">
			body {
				padding-top: 60px;
			}
		</style>
  </head>
  <body>

		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<a class="brand" href="/">Quilter's Showroom</a>
				<p class="navbar-text pull-right">
				{{if .uname}}
				Logged in as {{.uname}} (<a class="navbar-link" href="/accounts/logout">Log Out</a>)
				{{else}}
				Not logged in (<a class="navbar-link" href="/accounts/login">Log In</a> or <a class="navbar-link" href="/accounts/create">Join</a>)
				{{end}}
				</p>
			</div>
		</div>

		<div class="container-fluid">
